
        #title {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        #copyright {
            font-family: 'Courier New', Courier, monospace;
            font-style: italic;
            text-align: right;
            font-size: 1vw;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 30%;
            width: 30%;
        }

        table {
            height: 100%;
            width: 100%;
        }

        h1 {
            font-size: 2vw;
            font-family: cursive, sans-serif;
        }

        h2 {
            font-size: 1.3vw;
            font-weight: normal;
        }

        td {
            text-align: center;
            position: relative;
            border: solid black 1px;
            width: 5%;
        }

        .no-border {
            border: none;
        }

        .masse {
            font-size: 1vw;
            position: absolute;
            text-align: right;
            top: 0;
            right: 0;
            margin: 0;
            margin-right: 3px;
        }

        .nbr {
            font-size: 1vw;
            position: absolute;
            text-align: left;
            bottom: 0;
            margin: 0;
        }

        .green {
            background-color: green;
        }

        .blue {
            background-color: lightblue;
        }

        .red {
            background-color: red;
        }

        .beige {
            background-color: beige;
        }

        .khaki {
            background-color: khaki;
        }

        .yellow {
            background-color: yellow;
        }

        .pink {
            background-color: pink;
        }

        .purple {
            background-color: #ee82ee;
        }

        .deeppink {
            background-color: #ff69b4;
        }